*********************************************************
Akamai Connected Cloud WireGuard Marketplace App
WireGuard Config: /etc/wireguard/wg0.conf

Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/wireguard/
*********************************************************
To delete this message of the day: rm /etc/motd
